*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    background-color: black;
    align-items: center;

}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    transition: all 3s ease 0s;
}

.box-red:hover,
.box-blue:hover,
.box-green:hover,
.box-yellow:hover{
    background-color: white;
    border-radius: 10%;
    transition: all 3s ease 0s;
    background-color: white;
}

.box-red{
    background-color: red;
}
.box-green{
    background-color: green;
}

.box-blue{
    background-color: blue;
}

.box-yellow{
    background-color: yellow;
}
