*{
    margin: 0;
    padding: 0; 

}

header{
    display: flex;
    background-color: rgba(232, 230, 230, 0.462);
    justify-content: space-between;
    padding: 30px 20px 10px 20px;
}

#nav{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

ul{
    display: flex;
    list-style: none;
    gap: 0.8rem;
    align-items: center;
}

ul li:last-child{
    background-color: rgb(0, 0, 94);
    text-align: center;
    color: white;
    padding: 5px;
}